<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
        }

        #wrapper {
            margin: 0 17% 0 17%;
        }

        #blog {
            position: relative;
        }

        .container {
            font-size: larger;
            background-color: white;
            outline: 0.1px solid rgb(212, 212, 212);
            outline-offset: -20px;
            padding: 15%;
        }

        .container p {
            font-weight: 100;
            line-height: 60px;
            font-size: large;
            word-spacing: 4px;
            font-family: HelVetica;
            line-height: 30px;
        }

        .container img {
            width: 100%;
        }

        .container h3 {
            font-family: Garamond, serif;
            font-weight: 500;
            font-size: x-large;
            text-align: center;
            word-spacing: 6px;
        }

        .title {
            font-family: Garamond, serif;
            font-weight: 500;
            font-style: italic;
        }

        .banner {
            width: 100%;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .container img {
            padding: 5% 5% 5% 0;
        }

        .publishedBy {
            position: absolute;
            right: 0;
        }

        .publishedOn {
            text-decoration: underline;
        }


        @media(min-width: 0px) and (max-width: 700px) {
            #wrapper {
                margin: 0%;
            }

            .container {
                font-size: medium;
                padding: 10%;
                outline: 0;
                outline-offset: 0;
            }
        }

        @media (min-width: 700px) and (max-width: 1000px) {
            #wrapper {
                margin: 0%;
                margin: 0%;
            }

            .container {
                padding: 7%;
            }
        }

    </style>

    <body>
        <div id="wrapper">
            <div class="container">
                <div id="blog">
                    <h1 class="title"></h1>
                    <p class="publishedOn">17 Dec</p>
                    <div class="content"></div>
                    <p class="publishedBy">--</p>
                </div>
            </div>
        </div>

        <script>
            const blogId = decodeURI(location.pathname.split('/').pop());
            const url = (document.URL).replace("https://blog-site-k38f.onrender.com/blog/", "");
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    const res = await fetch(`/getBlog/blog?title=${url}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify()
                    });

                    const data = await res.json();

                    setupBlog(data);
                } catch (error) {
                    console.log(error)
                }
            })

            const setupBlog = (data) => {
                const blogTitle = document.querySelector('.title');
                const titleTag = document.querySelector('title');
                const creator = document.querySelector('.publishedBy');
                
                titleTag.innerHTML += blogTitle.innerHTML = data.title;
                creator.innerHTML += data.userId;

                const content = document.querySelector('.content');
                addArticle(content, data.content);
            }

            const addArticle = (elem, data) => {
                data = data.split('\n').filter(item => item.length);
                data.forEach(item => {
                    if(item[0]=='#') {
                        let hCount = 0;
                        let i = 0;

                        while(item[i]=='#') {
                            hCount++;
                            i++;
                        }

                        let tag = `h${hCount}`;
                        elem.innerHTML += `<${tag}>${item.slice(hCount, item.length)}<${tag}>`
                    } else if(item[0]=='!' && item[1]=="["){
                        let seperator;

                        for(let i=0; i<=item.length; i++) {
                            if(item[i]=="]" && item[i+1]=="(" && item[item.length-1]==")") {
                                seperator = i;
                            }
                        }

                        const alt = item.slice(2, seperator);
                        const src = item.slice(seperator+2, item.length-1);

                        elem.innerHTML += `<img src="${src}" alt="${alt}" class=''image>`
                    } else {
                        elem.innerHTML += `<p>${item}</p>`
                    }
                });
            }
        </script>
    </body>
</html>
