<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/5ef28b2280.js" crossorigin="anonymous"></script>
    </head>

    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
        }

        #wrapper {
            margin: 0 17% 0 17%;
        }

        #blog {
            position: relative;
        }

        #comments {
            margin: 1rem;
        }

        .comment-box {
            width: 300px;
        }

        .comment-box input, button {
            margin: 10px 10px 0px 10px;
        }

        .comment-box textarea {
            width: 100%;
            margin: 10px 10px 0px 10px;
            resize: none;
        }

        .user-comment {
            margin: 10px;
            padding: 5px;
            width: 100%;
            background: white;
        }

        .user-comment h5 {
            padding: 10px;
            max-width: 100px;
            border: .1px solid black;
            border-radius: 25px;
        }

        .user-comment p {
            padding-left: 25px;
        }

        .user-profile {
            font-size: 15px;
            padding: 10px;
        }

        .user-profile a {
            margin-left: 10px;
        }

        .container {
            font-size: larger;
            background-color: white;
            outline: 0.1px solid rgb(212, 212, 212);
            outline-offset: -20px;
            padding: 15%;
        }

        .container p {
            font-weight: 100;
            line-height: 60px;
            font-size: large;
            word-spacing: 4px;
            font-family: HelVetica;
            line-height: 30px;
        }

        .container img {
            width: 100%;
        }

        .container h3 {
            font-family: Garamond, serif;
            font-weight: 500;
            font-size: x-large;
            text-align: center;
            word-spacing: 6px;
        }

        .title {
            font-family: Garamond, serif;
            font-weight: 500;
            font-style: italic;
        }

        .banner {
            width: 100%;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .container img {
            padding: 5% 5% 5% 0;
        }

        .publishedBy {
            position: relative;
            right: 0%;
        }

        .publishedOn {
            text-decoration: underline;
        }


<<<<<<< HEAD:Client/views/blog.ejs
        @media(min-width: 300px) and (max-width: 700px) {
            body {
                margin: 0;
            }

=======
        @media(min-width: 0px) and (max-width: 700px) {
>>>>>>> ae036430e1e0242471b3c73a9f70cc651aab9636:views/blog.ejs
            #wrapper {
                margin: 0%;
            }

            .container {
                font-size: medium;
                padding: 10%;
                outline: 0;
                outline-offset: 0;
            }
        }

        @media (min-width: 700px) and (max-width: 1000px) {
            #wrapper {
                margin: 0%;
                margin: 0%;
            }

            .container {
                padding: 7%;
            }
        }

    </style>

    <body>
        <div id="wrapper">
            <div class="container">
                <div id="blog">
                    <h1 class="title"></h1>
                    <p class="publishedOn">17 Dec</p>
                    <div class="content"></div>
                    <p class="publishedBy">--</p>
                </div>
            </div>
            <div id="comments">
                <h3>Comments</h3>
                <div class="comment-box">
                    <input type="text" name="username" class="username" placeholder="Your name" required="required">
                    <input type="email" name="email" class="userEmail" placeholder="Your email" required="required">
                    <textarea name="comment" class="user-comment" rows="4" tabindex="20"  required="required"></textarea>
                    <button class="submit">Submit</button>
                </div>
                <div class="comment-section">
                    
                </div>
            </div>
        </div>

        <script>
            const submit = document.querySelector('.submit');
            const username = document.querySelector('.username');
            const userEmail = document.querySelector('.userEmail');
            const comment = document.querySelector('.user-comment');

            const blogId = decodeURI(location.pathname.split('/').pop());
<<<<<<< HEAD:Client/views/blog.ejs
            const url = (document.URL).replace("http://localhost:3000/blog/", "");

=======
            const url = (document.URL).replace("https://blog-site-k38f.onrender.com/blog/", "");
>>>>>>> ae036430e1e0242471b3c73a9f70cc651aab9636:views/blog.ejs
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    fetch(`/getBlog/blog?title=${url}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify()
                    })
                    .then(res => res.json()) 
                    .then((data) => {
                        setupBlog(data);

                        fetch(`/get-comments/${url}`, {
                            method: "GET",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify()
                        })
                        .then(res => res.json())
                        .then((data) => {
                            data.forEach(elem => {
                                loadComments(elem);
                            });
                        })
                    })
                } catch (error) {
                    console.log(error)
                }
            })

            submit.addEventListener('click', () => {
                fetch('/add-comment', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: username.value,
                        email: userEmail.value,
                        blogTitle: url,
                        content: comment.value,
                    })
                })
                .then((res) => {
                    if(res.status === 200) {
                        location.reload();
                    } else {
                        alert("Some error occured")
                    }
                })
            })

            const loadComments = (data) => {
                const div = document.createElement('div');
                div.classList.add('user-comment');
                div.innerHTML = `
                    <div class="user-profile">
                        <i class="fa-solid fa-circle-user"><a>${data.username}</a></i>
                    </div>
                    <p>${data.content}</p>
                `
                document.querySelector('.comment-section').appendChild(div);
            }

            const setupBlog = (data) => {
                const blogTitle = document.querySelector('.title');
                const titleTag = document.querySelector('title');
                const creator = document.querySelector('.publishedBy');
                
                titleTag.innerHTML += blogTitle.innerHTML = data.title;
                creator.innerHTML += data.userId;

                const content = document.querySelector('.content');
                addArticle(content, data.content);
            }

            const addArticle = (elem, data) => {
                data = data.split('\n').filter(item => item.length);
                data.forEach(item => {
                    if(item[0]=='#') {
                        let hCount = 0;
                        let i = 0;

                        while(item[i]=='#') {
                            hCount++;
                            i++;
                        }

                        let tag = `h${hCount}`;
                        elem.innerHTML += `<${tag}>${item.slice(hCount, item.length)}<${tag}>`
                    } else if(item[0]=='!' && item[1]=="["){
                        let seperator;

                        for(let i=0; i<=item.length; i++) {
                            if(item[i]=="]" && item[i+1]=="(" && item[item.length-1]==")") {
                                seperator = i;
                            }
                        }

                        const alt = item.slice(2, seperator);
                        const src = item.slice(seperator+2, item.length-1);

                        elem.innerHTML += `<img src="${src}" alt="${alt}" class=''image>`
                    } else {
                        elem.innerHTML += `<p>${item}</p>`
                    }
                });
            }
        </script>
    </body>
</html>
